<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eileen.mysettings"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.HI_SYSTEM_MANAGER_SERVICE" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NetSettingActivity"
            android:launchMode="singleTask" />
        <activity android:name=".EthernetSettingActivity" />
        <activity android:name=".BluetoothActivity" />
        <activity android:name=".NetInfoActivity" />
        <activity android:name=".PPPoEActivity" />
        <activity android:name=".StaticIpActivity" />
        <activity android:name=".DateTimeActivity" />
        <activity android:name=".DateFormatActivity" />
        <activity android:name=".DisplayActivity" />
        <activity android:name=".ResolutionActivity" />
        <activity android:name=".ScaleActivity" />
        <activity android:name=".StorageActivity" />
        <activity
            android:name=".storage.UninstallDialog"
            android:theme="@style/dialogStyle" />
        <activity
            android:name=".ResetDialogActivity"
            android:theme="@style/dialogStyle" />
        <activity
            android:name=".ResolutionDialogActivity"
            android:theme="@style/dialogStyle" />
        <activity android:name=".AdvancedActivity" />
        <activity android:name=".ResetActivity" />
        <activity android:name=".AdvancedActivity2" />
        <activity android:name=".WipeCacheActivity" />
        <activity
            android:name=".BluetoothDisconnectDialog"
            android:theme="@style/dialogStyle" />

        <service android:name=".PppoeConnectService" />

        <activity android:name=".utils.QuitActivity" />
        <activity
            android:name=".StandbyDialog"
            android:theme="@style/dialogStyle" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.cbox.action.autosleep" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />

            </intent-filter>
        </receiver>

        <!--<service
            android:name=".advanced.MyService"
            android:enabled="true"
            android:exported="true" />-->

        <service
            android:name=".advanced.StandbyService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".utils.MyContentProvider"
            android:authorities="com.example.eileen.mysettings.provider"
            android:enabled="true"
            android:exported="true">

        </provider>
    </application>

</manifest>